@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>
        Latest 5 News
    </h2>

    <p>
        <a href="@ViewBag.link0">@ViewBag.title0</a><br>
        <a href="@ViewBag.link1">@ViewBag.title1</a><br>
        <a href="@ViewBag.link2">@ViewBag.title2</a><br>
        <a href="@ViewBag.link3">@ViewBag.title3</a><br>
        <a href="@ViewBag.link4">@ViewBag.title4</a><br>
    </p>
