@model FIT5032_MyAssignment.Models.Moves

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Moves</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MoveName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoveName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Times)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Times)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rounds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rounds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MoveID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
