@using Microsoft.AspNet.Identity
@model IEnumerable<FIT5032_AssignmentX.Models.MovePlans>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />

@{
    ViewBag.Title = "Movements Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movements Plan</h2>
<div id="calendar"></div>

<p>
    @Html.ActionLink("View Report", "Report")
</p>
<div style="display: none">
<p>
    @Html.ActionLink("Create New", "Create")
</p>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MoveName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Round)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (User.Identity.GetUserId() == item.UserID || User.IsInRole("admin"))
            {
                <tr class="events">
                    <td class="name">
                        @Html.DisplayFor(modelItem => item.MoveName)
                    </td>
                    <td class="round">
                        @Html.DisplayFor(modelItem => item.Round)
                    </td>
                    <td class="time">
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td class="date">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PlanId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PlanId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PlanId })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



</div>

@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    @Scripts.Render("~/bundles/fullcalendar")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />


